<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="DC.Language" SCHEME="RFC1766" content="Spanish">
  <meta name="author" content="Sebastian Roa Meneses">
  <meta name="reply-to" content="Serome111@gmail.com">
  <link rev="made" href="mailto:Serome111@gmail.com">
  <meta name="description" content="Proyecto en desarrollo">
  <meta name="KEYWORDS" content="palabras clave">
  <meta name="Resource-type" content="Index">
  <meta name="Revisit-after" content="60 days">
  <meta name="robots" content="follow">
  <link rel="icon" href="assets/img/favicon.ico">
  <title>CharlaIA</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/setup.css')}}">
  <!--tomado de https://codepen.io/GeoffreyCrofte/pen/BiHzp?editors=0110-->
</head>
<body>
  
  <h1>Configuracion de charlaIA</h1>
<h2>Primeros pasos</h2>


<form action="/setup" method="POST">
  <p>
    <input type="checkbox" id="test1"  disabled="disabled" />
    <label for="test1">Configurar nombre</label>
  </p>
  <p>
    <input type="checkbox" id="test2" checked="checked" disabled="disabled"/>
    <label for="test2">Cargar una conciencia?</label>
  </p>
  <div class="button-container">
    <button class='button -green center' type="submir" >Encender</button>
  </div>

</form>



<p class="txtcenter">Proyecto en proceso de desarrollo<br/>Aprender es un conjunto de imitaciones convinadas, entender como enseñar es la clave.</p>

<p class="txtcenter copy">by <a href="https://twitter.com/serome111">@serome111</a>

</body>
</html>